{% extends "base.html" %}
{% block content %}
    <h1>Welcome to Movie Reservation</h1>
    {% if current_user.is_authenticated %}
        <p>Hello, {{ current_user.username }}!</p>
    {% else %}
        <p>Please <a href="{{ url_for('auth.auth_user_login') }}">login</a> or <a href="{{ url_for('auth.auth_user_register') }}">register</a>.</p>
    {% endif %}
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text"><strong>Genre:</strong> {{ movie.genre }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ movie.ticket_price }}</p>
                        {% if movie.showtimes %}
                            <p class="card-text"><strong>Showtimes:</strong> {{ movie.showtimes }}</p>
                        {% else %}
                            <p class="card-text"><em>No showtimes available</em></p>
                        {% endif %}
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}